* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Todos los paddings, margins... por defecto eliminados*/

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal; /* Use a value from 100 to 900 */
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.caja-logo {
  display: flex;
  align-items: center;
  flex: 2.5;
}

.img-logo {
  height: 6.7rem;
}

.logo-titulo {
  font-weight: 650;
  font-size: xx-large;
}

.enlaces-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 4;
}

.opciones-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
  gap: 0.5rem;
}

.btn-seleccionar-idioma {
  display: flex;
  height: 3rem;
  aspect-ratio: 1/1;
}

.btn-seleccionar-moneda {
  font-weight: 550;
  font-size: 2rem;
}

.btn-faq {
  display: flex;
  height: 3rem;
  aspect-ratio: 1/1;
}

.btn {
  background-color: black;
  color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(192, 192, 192);
  color: black;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.iniciar-sesion {
  /* Por ahora la clase btn se basa en este botón, pero si luego hay que hacerle modificaciones concretas se puede cambiar aquí*/
}

.caja-busqueda {
  display: flex;
  flex-direction: column;
}

.barra-busqueda {
  display: flex;
  background-color: rgb(148 141 141);
  padding: 0.4rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.apartado-busqueda {
  background-color: rgb(245 245 245);
  color: rgb(58 58 58);
  flex: 3.5;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: large;
  display: flex;
  align-items: center;
}

.busqueda-lupa {
  flex: 1;
  justify-content: center;
}

.img-busqueda {
  aspect-ratio: 1/1;
  width: 3rem;
}

.caja-viajar-esta-vez {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.titulo-viajar-esta-vez {
  text-align: center;
}

.parrafo-viajar-esta-vez {
  font-size: large;
  color: rgb(58 58 58);
  text-align: center;
  margin-bottom: 1rem;
}

.imagen-viajar-esta-vez {
  background-image: url("../images/paisaje_hustle.jpeg");
  width: 100%;
  aspect-ratio: 16/9;
  max-height: 70vh;

  border-radius: 1rem;
  background-size: cover; /* 1. Escala la imagen para que cubra todo el área del div */
  background-repeat: no-repeat; /* 2. Evita que la imagen se duplique */
  background-position: center; /* 3. Centra la imagen dentro del div*/
}

.caja-mas-premium {
  display: flex;
  flex-direction: column;
}

.titulo-viajes-premium {
  margin-top: 5rem;
}

.caja-viajes-premium {
  display: flex;
  gap: 2rem;
}

.viaje-premium {
  flex: 1;
}

.imagen-viaje-premium {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /* Los elementos hijos con 'absolute' se posicionarán respecto a este div. */
}

.btn-comprar-viaje-premium {
  position: absolute;

  /* **CAMBIO CLAVE 3: Anclar a la esquina inferior derecha** */
  bottom: 1rem; /* Margen de 1rem desde el borde inferior del contenedor padre */
  right: 1rem; /* Margen de 1rem desde el borde derecho del contenedor padre */
  z-index: 10; /* Para asegurar que esté por encima de la imagen de fondo si es necesario */
}

.imagen-premium-1 {
  background-image: url("../images/paisaje_hustle.jpeg");
  width: 100%;
  aspect-ratio: 16/9;

  border-radius: 1rem;
  background-size: cover; /* 1. Escala la imagen para que cubra todo el área del div */
  background-repeat: no-repeat; /* 2. Evita que la imagen se duplique */
  background-position: center; /* 3. Centra la imagen dentro del div*/
}
.imagen-premium-2 {
}

.imagen-premium-3 {
}

.titulo-parrafo-viaje-premium {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  font-weight: 700;
  font-size: large;
}

.parrafo-viaje-premium {
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  opacity: 80%;
}

main {
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

footer {
  background-color: #c4c4c4;
  color: rgb(0, 0, 0);
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.main-perfil {
  display: flex;
  flex-direction: column;
  gap: 25vh;
}

.caja-mi-perfil-y-foto {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.caja-texto-mi-perfil {
  display: flex;
  flex-direction: column;
}

.fuente-titulo {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.nombre-correo-mi-perfil {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2;
}

.pfp {
  background-image: url("../images/hustle_hard_persona_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

.favoritos-vistos-recientes {
  display: flex;
  justify-content: space-between;
}

.caja-favoritos {
  display: flex;
  flex-direction: column;
}

.caja-vistos-recientes {
  display: flex;
  flex-direction: column;
}

.fuente-encabezado-1 {
  font-weight: 550;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.caja-lugares {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
  padding: 0.5rem;
}

.texto-lugares-favoritos {
  text-decoration: underline;
  line-height: 2;
}

.caja-lupa {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.foto-lupa {
  aspect-ratio: 1/1;
  width: 5rem;
}

.caja-mis-reservas {
  display: flex;
  flex-direction: column;
}

.grupo-reservas {
  display: flex;
  justify-content: space-between;
}

.reserva {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
  padding: 0.8rem;
  padding-bottom: 4rem;
}

.encabezado-reserva {
  font-weight: 550;
  font-size: 1.25rem;
  margin-bottom: 0.6rem;
}

.subtitulo-reserva {
  font-weight: 450;
  font-size: 1rem;
  line-height: 1.5;
}
/* Contenedor Izquierdo */
.footer-izquierda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.img-logo-footer {
  height: 3rem;
}

.footer-copyright {
  font-size: 1rem;
  margin: 0;
}

/* Contenedor Derecho */
.footer-derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-texto {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.logos-redes-sociales {
  display: flex;
  gap: 1rem;
}

/* Estilos para las imágenes de redes sociales */
.footer-derecha a img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  vertical-align: middle;
}
