* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Todos los paddings, margins... por defecto eliminados*/

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal; /* Use a value from 100 to 900 */
  font-style: normal;
}

body {
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 6rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8%;
}

.caja-logo {
  display: flex;
  align-items: center;
  flex: 2.5;
}

.img-logo {
  height: 6.7rem;
}

.logo-titulo {
  font-weight: 650;
  font-size: xx-large;
}

.enlaces-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 4;
}

.opciones-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 3;
}

.btn-seleccionar-idioma {
  display: flex;
  height: 3rem;
  aspect-ratio: 1/1;
}

.btn-seleccionar-moneda {
  font-weight: 550;
  font-size: 2rem;
}

.btn-faq {
  display: flex;
  height: 3rem;
  aspect-ratio: 1/1;
}

.btn {
  background-color: black;
  color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.iniciar-sesion {
}

button {
  background-color: transparent;
  border: none;
}

main {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.footer {
  background-color: #4a4a4a;
  color: white;
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.main-perfil {
  display: flex;
  flex-direction: column;
  gap: 25vh;
}

.caja-mi-perfil-y-foto {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.caja-texto-mi-perfil {
  display: flex;
  flex-direction: column;
}

.titulo-mi-perfil {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.nombre-correo-mi-perfil {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2;
}

.pfp {
  background-image: url("../images/hustle_hard_persona_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

.favoritos-vistos-recientes {
  display: flex;
  justify-content: space-between;
}

.caja-favoritos {
  display: flex;
  flex-direction: column;
}

.caja-vistos-recientes {
  display: flex;
  flex-direction: column;
}

.encabezado-mi-perfil {
  font-weight: 550;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.caja-lugares {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
  padding: 0.5rem;
}

.texto-lugares-favoritos {
  text-decoration: underline;
  line-height: 2;
}

.caja-lupa {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.foto-lupa {
  aspect-ratio: 1/1;
  width: 5rem;
}

.caja-mis-reservas {
  display: flex;
  flex-direction: column;
}

.grupo-reservas {
  display: flex;
  justify-content: space-between;
}

.reserva {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
  padding: 0.8rem;
  padding-bottom: 4rem;
}

.encabezado-reserva {
  font-weight: 550;
  font-size: 1.25rem;
  margin-bottom: 0.6rem;
}

.subtitulo-reserva {
  font-weight: 450;
  font-size: 1rem;
  line-height: 1.5;
}
/* Contenedor Izquierdo */
.footer-izquierda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.img-logo-footer {
  height: 3rem;
}

.footer-copyright {
  font-size: 1rem;
  margin: 0;
}

/* Contenedor Derecho */
.footer-derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-texto {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.logos-redes-sociales {
  display: flex;
  gap: 1rem;
}

/* Estilos para las imágenes de redes sociales */
.footer-derecha a img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  vertical-align: middle;
}
