@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Todos los paddings, margins... por defecto eliminados*/

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal; /* Use a value from 100 to 900 */
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.caja-logo {
  display: flex;
  align-items: center;
  flex: 2.5;
}

.img-logo {
  height: 6.7rem;
}

.logo-titulo {
  font-weight: 650;
  font-size: xx-large;
}

.enlaces-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 4;
}

.enlaces-header a {
  text-decoration: none;
  color: inherit;
}

.opciones-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
  gap: 0.5rem;
}

.btn-seleccionar-idioma {
  display: flex;
  height: 3rem;
  aspect-ratio: 1/1;
}

.btn-seleccionar-moneda {
  font-weight: 550;
  font-size: 2rem;
}

.btn-faq {
  display: flex;
  height: 3rem;
  aspect-ratio: 1/1;
}

.btn {
  background-color: black;
  color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(192, 192, 192);
  color: black;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Avatar usuario en cabecera */
.imagen-perfil-usuario {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.boton-perfil {
  padding: 0;
  background: transparent;
  border: none;
}

.boton-perfil:hover {
  transform: translateY(-2px);
  opacity: 0.8;
}

.iniciar-sesion {
  text-decoration: none;
}

.caja-busqueda {
  display: flex;
  flex-direction: column;
}

.barra-busqueda {
  display: flex;
  background-color: rgb(148 141 141);
  padding: 0.4rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.apartado-busqueda {
  background-color: rgb(245 245 245);
  color: rgb(58 58 58);
  flex: 3.5;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: large;
  display: flex;
  align-items: center;
}

.apartado-busqueda input[type="text"] {
  border: none;
  background: transparent;
  outline: none;

  color: inherit;
  font-size: inherit;
  width: 100%;
}

.autocomplete {
  position: relative;
}

#sugerencias {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  list-style: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#sugerencias li {
  padding: 0.75rem;
  cursor: pointer;
}

#sugerencias li:hover {
  background: #f0f0f0;
}

.busqueda-fecha {
  position: relative;
}

.placeholder-fecha {
  position: absolute;
  left: 3rem;
  color: #888;
  margin: 0;
  pointer-events: none;
}

input[type="date"] {
  background: transparent;
  border: none;
  outline: none;
  font-size: large;
  width: 100%;
}

select {
  border: none;
  background: transparent;
  font-size: large;
  outline: none;
  appearance: none; /* quita estilo por defecto */
  width: 100%;
  cursor: pointer;
  color: #888;
}

.busqueda-lupa {
  flex: 1;
  justify-content: center;
}

.img-busqueda {
  aspect-ratio: 1/1;
  width: 3rem;
}

.caja-viajar-esta-vez {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.titulo-viajar-esta-vez {
  text-align: center;
}

.parrafo-viajar-esta-vez {
  font-size: large;
  color: rgb(58 58 58);
  text-align: center;
  margin-bottom: 1rem;
}

.imagen-viajar-esta-vez {
  background-image: url("../images/paisaje_hustle.jpeg");
  width: 100%;
  aspect-ratio: 16/9;
  max-height: 70vh;

  border-radius: 1rem;
  background-size: cover; /* 1. Escala la imagen para que cubra todo el área del div */
  background-repeat: no-repeat; /* 2. Evita que la imagen se duplique */
  background-position: center; /* 3. Centra la imagen dentro del div*/
}

.caja-mas-premium {
  display: flex;
  flex-direction: column;
}

.titulo-viajes-premium {
  margin-top: 5rem;
}

.caja-viajes-premium {
  display: flex;
  gap: 10rem;
}

.viaje-premium {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  animation: entrada 0.6s ease;
}

@keyframes entrada {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.imagen-viaje-premium {
  width: 20rem;
  aspect-ratio: 1/1;

  border-radius: 1rem;
  background-size: cover; /* 1. Escala la imagen para que cubra todo el área del div */
  background-repeat: no-repeat; /* 2. Evita que la imagen se duplique */
  background-position: center; /* 3. Centra la imagen dentro del div*/
  position: relative; /* Los elementos hijos con 'absolute' se posicionarán respecto a este div. */
}

.btn-comprar-viaje-premium {
  position: absolute;
  bottom: 1rem; /* Margen de 1rem desde el borde inferior del contenedor padre */
  right: 1rem; /* Margen de 1rem desde el borde derecho del contenedor padre */
  z-index: 10; /* Para asegurar que esté por encima de la imagen de fondo si es necesario */
}

.imagen-premium-1 {
  background-image: url("../images/paisaje_hustle.jpeg");
}

.imagen-premium-2 {
  background-image: url("../images/paisaje_hustle.jpeg");
}

.imagen-premium-3 {
  background-image: url("../images/paisaje_hustle.jpeg");
}

.imagen-viena {
  background-image: url("https://images.unsplash.com/photo-1731223832507-ebe5373129e6?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8dmllbmElMkMlMjBhdXRyaWF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-brujas {
  background-image: url("https://plus.unsplash.com/premium_photo-1661963659103-9602b3811297?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
}

.imagen-copenhague {
  background-image: url("https://plus.unsplash.com/premium_photo-1691414363231-836e2e1bf0ed?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29wZW5oYWdlfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-liubliana {
  background-image: url("https://images.unsplash.com/photo-1611576191056-3e6696029388?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8TGl1YmxpYW5hfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-barcelona {
  background-image: url("https://images.unsplash.com/photo-1630219694734-fe47ab76b15e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmFyY2Vsb25hfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-sevilla {
  background-image: url("https://images.unsplash.com/photo-1559564477-6e8582270002?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c2V2aWxsYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-tallin {
  background-image: url("https://images.unsplash.com/photo-1709862366377-54b16f3e51f9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGFsbGlufGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-paris {
  background-image: url("https://plus.unsplash.com/premium_photo-1661919210043-fd847a58522d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGFyaXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-budapest {
  background-image: url("https://images.unsplash.com/photo-1565426873118-a17ed65d74b9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8QnVkYXBlc3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-florencia {
  background-image: url("https://images.unsplash.com/photo-1476362174823-3a23f4aa6d76?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmxvcmVuY2lhfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-roma {
  background-image: url("https://images.unsplash.com/photo-1529154036614-a60975f5c760?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cm9tYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-venecia {
  background-image: url("https://plus.unsplash.com/premium_photo-1661963047742-dabc5a735357?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dmVuZWNpYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-lavaleta {
  background-image: url("https://images.unsplash.com/photo-1560365337-6f42f70dd874?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGElMjB2YWxldGF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-bergen {
  background-image: url("https://images.unsplash.com/photo-1643193388440-50fae300e1da?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8QmVyZ2VuJTIwbm9ydWVnYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-amsterdam {
  background-image: url("https://plus.unsplash.com/premium_photo-1661878122586-2d75a86f3400?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8JUMzJTgxbXN0ZXJkYW18ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-oporto {
  background-image: url("https://plus.unsplash.com/premium_photo-1677344087971-91eee10dfeb1?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8b3BvcnRvJTIwcG9ydHVnYWx8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-londres {
  background-image: url("https://images.unsplash.com/photo-1513635269975-59663e0ac1ad?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bG9uZHJlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-edimburgo {
  background-image: url("https://images.unsplash.com/photo-1569668444050-b7bc2bfec0c7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZWRpbmJ1cmdvfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-praga {
  background-image: url("https://plus.unsplash.com/premium_photo-1661963067279-2f7bf970c49c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJhZ2F8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-lucerna {
  background-image: url("https://images.unsplash.com/photo-1635855296516-837d8b00cae7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8THVjZXJuYSUyMHN1aXphfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-zurich {
  background-image: url("https://images.unsplash.com/photo-1620563092215-0fbc6b55cfc5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1171");
}

.imagen-reikiavik {
  background-image: url("https://plus.unsplash.com/premium_photo-1661962984700-16b03ecda58a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8UmVpa2lhdmlrfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-beijing {
  background-image: url("https://plus.unsplash.com/premium_photo-1723433351351-0f6cd5d21537?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8QmVpamluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-hongkong {
  background-image: url("https://images.unsplash.com/photo-1536599018102-9f803c140fc1?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG9uZyUyMGtvbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-seul {
  background-image: url("https://plus.unsplash.com/premium_photo-1661936414165-3039a8d906f9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8c2V1bHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-jaipur {
  background-image: url("https://images.unsplash.com/photo-1477587458883-47145ed94245?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8SmFpcHVyJTIwaW5kaWF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-kioto {
  background-image: url("https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8S2lvdG98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-luangprabang {
  background-image: url("https://plus.unsplash.com/premium_photo-1661882477461-20d16af70819?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8THVhbmclMjBQcmFiYW5nfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-beirut {
  background-image: url("https://plus.unsplash.com/premium_photo-1661963342411-11bc8489a1fe?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8QmVpcnV0JTIwbGliYW5vfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-mascate {
  background-image: url("https://images.unsplash.com/photo-1725600462847-0317804cc466?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8TWFzY2F0ZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-doha {
  background-image: url("https://images.unsplash.com/photo-1539475314840-751cecc1dacd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8RG9oYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-chiangmai {
  background-image: url("https://plus.unsplash.com/premium_photo-1661929242720-140374d97c94?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Q2hpYW5nJTIwTWFpfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-hanoi {
  background-image: url("https://plus.unsplash.com/premium_photo-1691960159290-6f4ace6e6c4c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8SGFub2l8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-singapur {
  background-image: url("https://images.unsplash.com/photo-1508964942454-1a56651d54ac?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2luZ2Fwb3JlfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-chefchaouen {
  background-image: url("https://images.unsplash.com/photo-1569383746724-6f1b882b8f46?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
}

.imagen-ciudaddelcabo {
  background-image: url("https://plus.unsplash.com/premium_photo-1697730061063-ad499e343f26?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Q2l1ZGFkJTIwZGVsJTIwQ2Fib3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-sidney {
  background-image: url("https://images.unsplash.com/photo-1506973035872-a4ec16b8e8d9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8UyVDMyVBRGRuZXl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-queenstown {
  background-image: url("https://images.unsplash.com/photo-1600466403153-50193d187dde?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8UXVlZW5zdG93bnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-ciudaddequebec {
  background-image: url("https://images.unsplash.com/photo-1576771304215-6d4d30f7bb63?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fENpdWRhZCUyMGRlJTIwUXVlYmVjfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-lahabana {
  background-image: url("https://images.unsplash.com/photo-1570299437488-d430e1e677c7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8TGElMjBIYWJhbmF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-nuevayork {
  background-image: url("https://images.unsplash.com/photo-1485871981521-5b1fd3805eee?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8TnVldmElMjBZb3JrfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-sanfrancisco {
  background-image: url("https://images.unsplash.com/photo-1719858403364-83f7442a197e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8U2FuJTIwRnJhbmNpc2NvfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-sanmigueldeallende {
  background-image: url("https://plus.unsplash.com/premium_photo-1697729800872-866107ce82c4?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8U2FuJTIwTWlndWVsJTIwZGUlMjBBbGxlbmRlfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
}

.imagen-buenosaires {
  background-image: url("https://plus.unsplash.com/premium_photo-1697729901052-fe8900e24993?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8QnVlbm9zJTIwQWlyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-riodejaneiro {
  background-image: url("https://plus.unsplash.com/premium_photo-1671211307997-f4f552b0601c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8UiVDMyVBRG8lMjBkZSUyMEphbmVpcm98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-cartagena {
  background-image: url("https://images.unsplash.com/photo-1583531352515-8884af319dc1?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Q2FydGFnZW5hJTIwY29sb21iaWF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-quito {
  background-image: url("https://plus.unsplash.com/premium_photo-1697729921570-a7e324d7baac?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8UXVpdG98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-cuzco {
  background-image: url("https://images.unsplash.com/photo-1609944433409-81bda5323abc?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Q3V6Y298ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
}

.imagen-santorini {
  background-image: url("../images/imagen-santorini.jpeg");
}

.imagen-monaco {
  background-image: url("../images/imagen-monaco.jpg");
}

.imagen-elcairo {
  background-image: url("../images/imagen-elcairo.jpg");
}

.imagen-elserengueti {
  background-image: url("../images/imagen-elserengueti.jpeg");
}

.imagen-zanzibar {
  background-image: url("../images/imagen-zanzibar.jpg");
}

.imagen-nairobi {
  background-image: url("../images/imagen-nairobi.jpeg");
}

.imagen-tarawasur {
  background-image: url("../images/imagen-tarawasur.jpg");
}

.imagen-portvila {
  background-image: url("../images/imagen-portvila.webp");
}

.imagen-yaren {
  background-image: url("../images/imagen-yaren.webp");
}

.imagen-samoia {
  background-image: url("../images/imagen-samoia.jpg");
}

.imagen-chicago {
  background-image: url("../images/imagen-chicago.webp");
}

.imagen-patagonia {
  background-image: url("../images/imagen-patagonia.webp");
}

.titulo-parrafo-viaje-premium {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  font-weight: 700;
  font-size: large;
}

.parrafo-viaje-premium {
  color: rgb(58 58 58);
  text-align: justify;
}

.caja-otros-rincones {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.caja-display-continentes {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.caja-continente {
  display: flex;
  flex-direction: column;
}

.nombre-continente-flechas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caja-flechas {
  display: flex;
}

.btn-flecha-izq {
}

.btn-flecha-der {
}

.caja-sobre-nosotros {
  margin-bottom: 10vh;
}

.precio-destacado {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1em;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  opacity: 80%;
}

main {
  margin-top: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

footer {
  background-color: #c4c4c4;
  color: rgb(0, 0, 0);
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* AQUI COMIENZAN LOS ESTILOS PARA perfil.html*/
.main-perfil {
  display: flex;
  flex-direction: column;
  gap: 25vh;
}

.caja-mi-perfil-y-foto {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.caja-texto-mi-perfil {
  display: flex;
  flex-direction: column;
}

.fuente-titulo {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.nombre-correo-mi-perfil {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2;
}

.pfp {
  background-image: url("../images/hustle_hard_persona_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

.favoritos-vistos-recientes {
  display: flex;
  justify-content: space-between;
}

.caja-favoritos {
  display: flex;
  flex-direction: column;
}

.caja-vistos-recientes {
  display: flex;
  flex-direction: column;
}

.fuente-encabezado-1 {
  font-weight: 550;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.caja-lugares {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
  padding: 0.5rem;
}

.texto-lugares-favoritos {
  text-decoration: underline;
  line-height: 2;
}

.caja-lupa {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.foto-lupa {
  aspect-ratio: 1/1;
  width: 5rem;
}

.caja-mis-reservas {
  display: flex;
  flex-direction: column;
}

.grupo-reservas {
  display: flex;
  justify-content: space-between;
}

.reserva {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
  padding: 0.8rem;
  padding-bottom: 4rem;
}

.encabezado-reserva {
  font-weight: 550;
  font-size: 1.25rem;
  margin-bottom: 0.6rem;
}

.subtitulo-reserva {
  font-weight: 450;
  font-size: 1rem;
  line-height: 1.5;
}
/* Contenedor Izquierdo */
.footer-izquierda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.img-logo-footer {
  height: 3rem;
}

.footer-copyright {
  font-size: 1rem;
  margin: 0;
}

/* Contenedor Derecho */
.footer-derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-texto {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.logos-redes-sociales {
  display: flex;
  gap: 0.3rem;
}

.logos-redes-sociales a {
  text-decoration: none;
}

/* Estilos para las imágenes de redes sociales */
.footer-derecha a img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  vertical-align: middle;
}
